@{
    ViewData["Title"] = "Index";
}

<style>
    th, td {
        border: 1px solid black;
    }
</style>

<h1>Transaction Master</h1>

@model IEnumerable<Vulcan.Models.VulcanTransaction>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                <p>Account Holder</p>
            </th>
            <th>
                <p>Branch Code</p>
            </th>
            <th>
                <p>Account Number</p>
            </th>
            <th>
                <p>Account Type</p>
            </th>
            <th>
                <p>Action</p>
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <p>@item.AccountHolder</p>
                </td>
                <td>
                    <p>@item.BranchCode</p>
                </td>
                <td>
                    <p>@item.AccountNumber</p>
                </td>
                <td>
                    <p>@item.AccountType</p>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
