@{
    ViewData["Title"] = "Report";
}

<style>
    th, td {
        border: 1px solid black;
    }
</style>

<h1>Transaction Report</h1>

@model IEnumerable<Vulcan.Models.VulcanTransactionReportView>
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                <p>Branch Code</p>
            </th>
            <th>
                <p>Account Type</p>
            </th>
            <th>
                <p>Transaction Status</p>
            </th>
            <th>
                <p>Total Count</p>
            </th>
            <th>
                <p>Total Amount</p>
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <p>@item.BranchCode</p>
                </td>
                <td>
                    @if (@item.AccountType == 1)
                    {
                        <p>Current / Cheque</p>
                    }
                    else
                    {
                        <p>Savings</p>
                    }
                </td>
                <td>
                    <p>@item.Status</p>
                </td>
                <td>
                    <p>@item.TotalCount</p>
                </td>
                <td>
                    <p>@item.TotalAmount</p>
                </td>
            </tr>
        }
    </tbody>
</table>
